/* ボタンスタイル */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.button:hover {
    background-color: #0056b3;
}

/* ボタンコンテナのスタイル */
.button-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* スマホ用にボタンのスタイルを調整 */
@media screen and (max-width: 600px) {
    .button {
        font-size: 14px;
        padding: 10px 15px;
    }
    .button-container {
        display: flex;
        flex-direction: column;
    }
    .button {
        margin-bottom: 10px;
    }
}

/* iframe のスタイル */
iframe {
    width: 100%;
    border: 0;
}

/* プルダウンリストのスタイル */
.select-menu {
    margin-right: 10px;
}
